.villa__footer {
    padding-top: 2em;
    &--h4 {
        font-family: 'Gotham-Bold';
        font-weight: 600;
    }
    &--p {
        font-family: 'Gotham-Book';
        font-weight: 500;
    }
}
