.villa__services {
    &--h4 {
        font-family: 'Gotham-Book';
        font-weight: 600;
        margin-top: 2em;
        margin-bottom: 2em;
        position: relative;
    }
    &--item {
        border: none;
        & img {
            width: 12em;
            margin: auto;
            border-radius: 10em;
        }
    }
}
